#lohere{
    max-width: 40px;
    aspect-ratio: 1/1;
    display: inline-block;
}

header{
    background-color: #1f5b25;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    color: white!important;
    text-decoration: none!important;
    vertical-align: middle;
    font-size: larger;
}

footer{
    background-color: #1f5b25;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    max-width: 20px;
    aspect-ratio: 1/1;
    display: inline-block;
}

h3{
    color: white!important;
}

p{
    color: white!important;
}

input{
    margin: 0;
    padding: 0;
}

button{
    margin: 0;
    padding: 5;
    background-color: #21C921;
    border: #21C921;
    color: white;
}

.kname{
    background-color: #21C921;
    border: #21C921;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.kszoveg{
    color:black!important;
    padding: 5px;
}

#commentcim{
    text-decoration: underline;
}

.bevezetes{
    height: 100vh;
    color: white;
    background-image: url("../kepek/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bevezetes .col-md-8{
    background-color: rgba(0, 0, 0, 0.4);
}
.bevezetes h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.lap{
    width: 250px;
    height: 250px;
    background-color: black;
    /*left: ;*/
}

#banner{
    min-height: 500px;
    background-image: url("../kepek/blog/coffee-1324126_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


main{
    background-color: #FBEFDB;
}

.kep{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
}

.kepnagy{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    background-position: center;
}

.art1{
    background-image: url("../kepek/kávék/coffee-4618705_1280.jpg");
}
.art2{
    background-image: url("../kepek/sütik/cakes-3257019_1280.jpg");
}

.tagN{
    text-align: left;
}

.tagV{
    text-align: right;
    min-width: 200px;
}
.banner{
    background-image: url(../kepek/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 275px;
}
#container{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.card{
    position: absolute;
    height: 300px;
    width: 360px;
}
.kave{
    width: auto;
    height: 300px;
}
main{
    background-color: #FBEFDB;
}
h1{
    color: green!important;
    text-align: center;
    font-size: large;
}

