#lohere{
    max-width: 40px;
    aspect-ratio: 1/1;
    display: inline-block;
}

header{
    background-color: #1f5b25;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    color: white!important;
    text-decoration: none!important;
    vertical-align: middle;
}

footer{
    background-color: #1f5b25;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    max-width: 20px;
    aspect-ratio: 1/1;
    display: inline-block;
}

h3{
    color: white!important;
}

p{
    color: white!important;
}

input{
    margin: 0;
    padding: 0;
}

button{
    margin: 0;
    padding: 5;
    background-color: #21C921;
    border: #21C921;
    color: white;
}

.focim{
    color: white;
    background-image: url("../kepek/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 500px;
    background-position: center;
}
.focim h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.lap{
    width: 250px;
    height: 250px;
    background-color: black;
    left: ;
}
